<carousel>
    <slide>
        <img src="assets/images/car1.jpg" alt="first slide" style="display: block; width: 100%; height: 600px;">
    </slide>
    <slide>
        <img src="assets/images/car2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/car3.jpg" alt="third slide" style="display: block; width: 100%; ">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the shop!</h1>
    </div>
</section>