<div class="container pt-4">
    <table class="table">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onClick(order.id)" class="table-hover" *ngFor="let order of orders">
            <th scope="row"><strong># {{order.id}}</strong></th>
            <td>{{order.orderDate | date:'medium'}}</td>
            <td>{{order.total | currency}}</td>
            <td>{{order.status}}</td>
          </tr>
        </tbody>
    </table>
</div>
